p {
  margin-top: 200px;
  margin-left: 200px;
  background-color: red
}

div {
  background-color: green;

}

#absolute {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 20px;
  left: 150px;
  transition: height 2s ease-in
}